:root {
    --dark-bg-color: #191919;
    --dark-red-color: #750E21;
    --white-bg-color: #eeee;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.site-wrapper {
    display: flex;
    flex: 1;
}
/*CONTENT starts here*/
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.navbar-toggle-icon {
    font-size: 24px;
    margin-left: 25px;
}

.navbar-user-info {
    margin-right: 30px;
    display: flex;
    gap: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bolder;
}

.navbar-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-section-item-wrapper {
    padding-left: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-section-item-wrapper i {
    font-size:18px;
}

.nav-section-item-wrapper{
    color:black;
}

.content-data {
    padding: 20px;
    overflow-y: auto;
}


/*SİDEBAR STARTs HERE*/
.admin-sidebar {
    background-color: var(--white-bg-color);
}

.sidebar-content-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.sidebar-brand-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

    .nav-section a {
        padding: 10px;
        color: var(--dark-bg-color);
    }

.nav-section-item-wrapper:hover, .nav-section-item-wrapper a:hover {
    background-color: white;
}


/*Manage Users*/

/*Global components*/
.custom-admin-card{
    display:flex;
    flex-direction:column;
    min-height:150px;
    align-items:center;
    justify-content:center;
    border-radius:15px;
}


/*Manage Departments*/
.manage-departments-card-body {
    background-color: #e7eaf6;
}

.user-cards-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    background-color:#ffff;
    max-width:150px;
    border-radius:10px;
}


/**/

.dashboard-icon{
    font-size:32px;
}

.pie-chart-canva-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    max-height:410px;
}