html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration:none;
    color:black;
}

.login-button{
    font-size:16px;
}

.text-justify {
    text-align: justify;
}


.privacy-policy-button{
    background-color:white;
    border:none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.login-icon{
    font-size:20px;
    color:lightgray
}
.login-dropdown-menu{
    position:absolute;
    margin-left:85px;
}
.login-wrapper{
    min-height:520px;
}

/*Navbars Here*/
.navbar-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.section-navitems-wrapper{
    witdh:100%;
}
.section-navitems-wrapper li{
    list-style:none;
}

.section-navitems-wrapper .nav-item a{
    color:black;
}

#user-navbar-dropdown-wrapper{
    position: relative;
}

#user-navbar-dropdown{
    position:absolute;
    left:-78px;
    top:40px;
}

.form-label{
    min-width:20px;
    font-weight:700;
    height:100%;
    margin-top:20px;
    padding:5px;
}
.create-form-label {
    min-width: 70px;
}

.custom-input{
    outline:none;
    padding:5px;
    border:none;
    width:200px;
}

.search-input-wrapper{
    border: 1px solid gray;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    border-radius:15px;
}

.card-group .card:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.homepage-navbar{
    min-height:100px;
}
.website-brand{
    font-size:30px;
}

.hero-sections{
    padding:5px;
    height:100%;
}

.caraousals-image{
    max-height:400px;
}

/*DetailPage Here*/
.detail-image {
    max-width: 960px;
}

.detail-content{
   text-align:justify;
}


/*Footer Here*/
.footer-lists{
    list-style:none;
}

/*user profile page*/

.profile-image {
    width: 100px;
    height: 100px;
}

.post-content-area{
    min-height:500px;
}

.section-item:hover{
    border-bottom: 1px solid black;
}
