﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DailyNews | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsApp.MVC.styles.css" asp-append-version="true" />


</head>
<body>
    <div class="site-wrapper">
        <div class="admin-sidebar">
            <div class="sidebar-content-wrapper">
                <div class="container bg-light-blue-1">
                    <div class="sidebar-brand-wrapper">
                        <h2 class="p-4 text-white sidebar-nav-item-brand">DailyNews</h2>
                    </div>
                    <div class="row sidebar-profile-wrapper p-2">
                        <div class="navbar-user-info  d-flex flex-column align-items-center justify-content-center">
                            <img class="navbar-user-image" src="@ViewData["ProfileImage"]" alt="">
                            <div class="text-center w-100 d-flex flex-column text-white">
                                <span class="text-capitalize sidebar-nav-item-brand">@ViewData["CurrentUser"]</span>
                                @{
                                    if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "admin"))
                                    {
                                        <span class="fw-light sidebar-nav-item-brand">Admin</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-section">
                    <div class="nav-section-item-wrapper">
                        <a asp-controller="Admin"
                           asp-action="Dashboard"
                           data-toggle="tooltip"
                           title="Gelişim Paneli"
                           class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                            <i class="fa-solid fa-chart-column sidebar-icon"></i>
                            <span class="sidebar-nav-item-brand">Gelişim Paneli</span>
                        </a>
                    </div>
                    <div class="nav-section-item-wrapper">
                        <a asp-controller="Admin"
                           asp-action="Index"
                           data-toggle="tooltip"
                           title="Kullanıcılar"
                           class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                            <i class="fa-solid fa-users sidebar-icon"></i>
                            <span class="sidebar-nav-item-brand">Kullanıcılar</span>
                        </a>
                    </div>
                    <div class="nav-section-item-wrapper">
                        <a asp-controller="Admin"
                           asp-action="ManageDepartments"
                           data-toggle="tooltip"
                           title="Departmanlar"
                           class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                            <i class="fa-solid fa-table-cells-large sidebar-icon"></i>
                            <span class="sidebar-nav-item-brand">Departmanlar</span>
                        </a>
                    </div>
                    @{
                        if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "admin"))
                        {
                            <div class="nav-section-item-wrapper">
                                <a asp-controller="Admin"
                                   asp-action="AssignCategoryToUser"
                                   data-toggle="tooltip"
                                   title="Rol ve Yetki Paneli"
                                   class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                                    <i class="fa-solid fa-people-arrows sidebar-icon"></i>
                                    <span class="sidebar-nav-item-brand">Rol ve Yetki Paneli</span>
                                </a>
                            </div>
                        }
                    }

                    <div class="nav-section-item-wrapper">
                        <a 
                            asp-area="" asp-controller="Home" 
                            asp-action="Index"
                           data-toggle="tooltip"
                           title="Ana Sayfa"
                           class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                            <i class="fa-solid fa-house sidebar-icon"></i>
                            <span class="sidebar-nav-item-brand">Ana Sayfa</span>
                        </a>
                    </div>
                    <div class="nav-section-item-wrapper">
                        <a 
                            asp-area="" 
                            asp-controller="User" 
                            asp-action="SignOut"
                           data-toggle="tooltip"
                           title="Çıkış"
                           class="w-100 nav-section-item text-black gap-3 d-flex align-items-center justify-content-start">
                            <i class="fa-solid fa-right-from-bracket sidebar-icon"></i>
                            <span class="sidebar-nav-item-brand">Çıkış</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-navbar bg-dark-blue text-white">
                <i class="fa-solid fa-bars navbar-toggle-icon"></i>
            </div><!--here content-navbar-ends-->
            <div class="content-data">
                <div>
                    @RenderBody()
                </div>
            </div>


        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/c9fdab916c.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });


        var js = jQuery.noConflict(true);
        js(document).ready(function () {
            js('#datatable').DataTable({

            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const toggleIcon = document.querySelector('.navbar-toggle-icon');
            const sidebar = document.querySelector('.sidebar-content-wrapper');

            const setSidebarState = () => {
                const isCollapsed = localStorage.getItem('sidebar-collapsed') === 'true';
                if (isCollapsed) {
                    sidebar.classList.add('collapsed');
                } else {
                    sidebar.classList.remove('collapsed');
                }
            };

            setSidebarState();

            toggleIcon.addEventListener('click', () => {
                sidebar.classList.toggle('collapsed');

                const isCollapsed = sidebar.classList.contains('collapsed');
                localStorage.setItem('sidebar-collapsed', isCollapsed);
            });


            document.addEventListener('ajaxComplete', () => {
                setSidebarState();
            });
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
