<div class="section-bar">
    <!--SectionBar Starts Here-->
    <ul class="section-navitems-wrapper d-flex items-center justify-content-center gap-4 border-bottom box-shadow pb-3">
        <li class="nav-item"><a href="">Home</a></li>
        <li class="nav-item"><a href="">Sports</a></li>
        <li class="nav-item"><a href="">Magazine</a></li>
        <li class="nav-item"><a href="">Business</a></li>
        <li class="nav-item"><a href="">Culture</a></li>
        <li class="nav-item"><a href="">Travel</a></li>
        <li class="nav-item"><a href="">Global</a></li>
        <li class="nav-item"><a href="">Economy</a></li></a></li>
    </ul>
</div><!--SectionBar Ends Here-->