﻿
@{
    ViewData["Title"] = "ResetPassword";
}


@section  Scripts 
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

@model AppUserForgetPasswordRequestModel

<div class="row">
    <div class="col-md-6 offset-md-3">

         @if(TempData["success"]!=null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["success"]
            </div>   
        }

        <div class="alert-info alert">Parola Sıfırlama linki epostanıza gönderilecektir.</div>
            <div class="alert alert-danger" asp-validation-summary=ModelOnly role="alert">
            </div>   

        <form method="post">
            
            <div class="row mb-3">
                <label for="Email" asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Email" autocomplete="off">
                     <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
            </div>
          <button type="submit" class="btn btn-primary">Gönder</button>
        </form>    
    </div>
</div