﻿@{
    ViewData["Title"] = "SignUp";
}

@model AppUserRegisterViewModel


@section  Scripts 
{

    @await Html.PartialAsync("_ValidationScriptsPartial");

}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Sign Up</h2>
        <hr/>

        @if(TempData["SuccessMessage"]!=null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>   
        }

            <div class="alert alert-danger" asp-validation-summary=ModelOnly role="alert">
            </div>   

        <form asp-controller="Home" asp-action="SignUp" method="post">
            <div class="row mb-3">
                <label for="Username" asp-for="Username" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Username" autocomplete="off">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="Email" asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Email" autocomplete="off">
                     <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="Password" asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="ConfirmPassword" asp-for="ConfirmPassword" class="col-md-4 col-form-label">Confirm Password</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Name" asp-for="Name" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Name" autocomplete="off">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="Surname" asp-for="Surname" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Surname" autocomplete="off">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="BirthDate" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="BirthDate" autocomplete="off">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4 d-flex align-items-center justify-content-end">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </form>    
    </div>
</div