﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <img src="https://png.pngtree.com/png-clipart/20230825/original/pngtree-login-access-denied-vector-illustration-picture-image_8480029.png" class="w-50"/>
    <div class="alert alert-danger">
        <h4 class="text-center">Bu sayfaya erişiminiz yok, lütfen daha fazlası için yetkilinizle irtibata geçiniz.</h4>
    </div>
</div>