﻿
@{
    ViewData["Title"] = "PasswordChange";
}


@section Scripts
{

    @await Html.PartialAsync("_ValidationScriptsPartial");

}

@model AppUserPasswordChangeRequestModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Şifre Değiştir</h4>
        <hr/>
        <div class="alert alert-danger" asp-validation-summary=ModelOnly role="alert">
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <form asp-controller="User" asp-action="PasswordChange" method="post">
            <div class="row mb-3">
                <label asp-for="PasswordOld" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" class="form-control" asp-for="PasswordOld">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" class="form-control" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="ConfirmPassword" asp-for="ConfirmPassword" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </form>
    </div>
</div>